# Отключаем генерацию map-файлов для ускорения сборки и экономии места
GENERATE_SOURCEMAP=false

# URL бэкенд API
# Если фронт и бэк на одном домене через nginx:
REACT_APP_API_URL=/api
# Если на разных:
# REACT_APP_API_URL=http://YOUR_SERVER_IP:5555/api

# WalletConnect Project ID (Получите на cloud.walletconnect.com)
REACT_APP_WALLET_CONNECT_PROJECT_ID=6fc8389ec304651e5fbea1889840a9f6

# ID блокчейн сети (97 - BSC Testnet, 56 - BSC Mainnet)
REACT_APP_CHAIN_ID=eip155:97
