# Порт сервера
PORT=5555

# Подключение к MongoDB
# Если Mongo запускается локально без пароля:
MONGODB_URI=mongodb://127.0.0.1:27017/walletsDB
# Если есть пароль:
# MONGODB_URI=mongodb://user:password@127.0.0.1:27017/walletsDB

# Секрет для JWT токенов (Сгенерируйте сложный ключ!)
JWT_SECRET=replace_this_with_a_secure_random_string

# Секрет для админских действий (если используется)
ADMIN_SECRET=replace_this_with_admin_secret
